ML_SERVICE_URL=http://ml-service:8000

POSTGRES_DB=sentimentAPI
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Pos@26sql
POSTGRES_PORT=5432

# Gemini API Key para traducción de textos
GEMINI_KEY=AIzaSyAHhhD9YCPD9s5Bk-yl3Tgk9NW2TAaP3J4
