# Global / OS
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/
*.iml

# Logs (globales)
*.log

# Environment variables
.env
*.local

# Git internals (por seguridad)
.gitmodules

# Temporary / swap files
*.tmp
*.swp
*.swo

# Archives (accidentales)
*.zip
*.tar
*.tar.gz
*.rar
